.register-container {
  max-height: 80vh;
  overflow-y: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.label-text-alt {
  font-size: 0.75rem;
  font-weight: 500;
}

.form-control .label {
  margin-bottom: 0.5rem;
}
